name: reverse-proxy
services:
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx
    restart: unless-stopped
    ports:
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '81:81' # Admin Web Port
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /docker/networking/nginx/data:/data
      - /docker/networking/nginx/letsencrypt:/etc/letsencrypt
    networks: [proxy]

networks:
  proxy:
    external: true
